/*--アンケート一覧画面セレクトボックス---*/
.questionnaire-list-select {
    margin: 1em!important;
}
/*--アンケート一覧画面の編集者向け詳細情報枠---*/
.questionnaire-editor-dl {
    margin:0px;
    clear: left;
}
.questionnaire-editor-dl dt {
    float:left;
    margin-right:1em;
}
.questionnaire-editor-dl dd {
    float:left;
    margin-right:4em;
}
/*--アンケート追加画面の過去のアンケートセレクトリスト用---*/
.questionnaire-select-box {
    height:150px;
    overflow-y: scroll;
    list-style:none;
    padding:0px;
}
.questionnaire-select-box li {
    padding:0px 0.5em
}
/*--アンケート編集画面のform-group枠への追加スタイル---*/
.questionnaire-group { margin-top:0.5em ;margin-bottom:1.5em;margin-left: 2em;}
.questionnaire-sub-group { margin-left: 2em;}
/*--アンケート編集画面のアンケートタイトルスタイル---*/
.questionnaire-setting-ttl {
    padding: 10px 20px 0px;
}
.questionnaire-setting-ttl-help {
    padding-bottom:1em;
    padding-left: 2em;
}
/*--アンケート編集画面のページ追加タブスタイル--*/
.questionnaire-add-page-tab {
    display: block;
    padding: 10px 25px;
    float: left;
}
/*--アンケート編集画面の質問アコーディオンスタイル---*/
#QuestionnaireQuestionEditQuestionForm .panel-title,
#QuestionnaireQuestionEditResultForm .panel-title {
    margin:0px;
}
.questionnaire-accordion-header-title {
    font-size: 16px;
}
#QuestionnaireQuestionEditQuestionForm .questionnaire-accordion-header-title {
    line-height:2em;
    padding-left:0.5em;
}
/*--アンケート編集画面の選択肢リスト---*/
.questionnaire-edit-choice-list-group {
    margin-bottom: 5px;
}
/*
 * 編集画面ステップメニュー
 */
.questionnaire-steps {
    height:auto;
}
.questionnaire-step-item {
    float: left;
    height: 100%;
    padding: 6px 1em 3px 0px;
    text-align: center;
    font-size: 12px;
}
.questionnaire-step-item .glyphicon {
    float:right;
}

/*--アンケートマトリクス回答画面---*/
.questionnaire-matrix-table {
    margin-bottom:10px;
}
.questionnaire-matrix-table td {
    vertical-align:bottom;
}
.questionnaire-matrix-table td .radio label.control-label {
    display: block;
    padding: 3px 0px;
}
.questionnaire-matrix-table td .checkbox {
    margin:0.2em 0;
}
.questionnaire-matrix-table td input[type="radio"],
.questionnaire-matrix-table td input[type="checkbox"] {
    display:block;
    width:100%;
    min-height:1em;
    margin:5px 0px;
    cursor: pointer;
}
.questionnaire-matrix-table td input[type="checkbox"] {
    margin-left: 0px;
}
/*
 * 集計画面グラフ
 */
.questionnaire-chart-wrapper {
    margin:1em;
}
/*------------------------------------------------------------------*/
table.table.questionnaire-table-vcenter tbody td {
   vertical-align: middle;
}
/*
 * 縦スクロールバー付き
 */
.questionnaire-list-wrapper {
    max-height:200px;
    overflow-y: scroll;
}
