/*--一覧画面での表示域余白調節---*/
.questionnaire-index-title {
    padding-top: 1em;
    padding-bottom: 0.5em;
}
/*--アンケート一覧画面の編集者向け詳細情報枠---*/
.questionnaire-editor-dl {
    margin:0px;
    clear: left;
}
.questionnaire-editor-dl dt {
    float:left;
    margin-right:1em;
}
.questionnaire-editor-dl dd {
    float:left;
    margin-right:4em;
}
@media screen and (max-width:767px) {
    .questionnaire-editor-dl dt {
        min-width: 5em;
    }
    .questionnaire-editor-dl dd {
        float:none;
    }
}
/*--アンケート追加画面の過去のアンケートセレクトリスト用---*/
.questionnaire-select-box {
    height:150px;
    overflow-y: scroll;
    list-style:none;
    padding:0px;
}
.questionnaire-select-box li {
    padding:0px 0.5em
}
/*--アンケート編集画面のページ追加タブスタイル--*/
.questionnaire-add-page-tab {
    display: block;
    padding: 10px 25px;
    float: left;
}
/*--アンケート編集画面の質問アコーディオンスタイル---*/
#QuestionnaireQuestionEditQuestionForm .panel-title,
#QuestionnaireQuestionEditResultForm .panel-title {
    margin:0px;
}
.questionnaire-accordion-header-title {
    font-size: 16px;
}
#QuestionnaireQuestionEditQuestionForm .questionnaire-accordion-header-title {
    line-height:2em;
    padding-left:0.5em;
}
/*--アンケート編集画面の選択肢リスト---*/
.questionnaire-edit-choice-list-group {
    margin-bottom: 5px;
}

/*--アンケートマトリクス回答画面---*/
.questionnaire-matrix-table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
@media (max-width: 767px) {
    .questionnaire-matrix-table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .questionnaire-matrix-table-responsive > .table {
        margin-bottom: 0;
    }
    /*.questionnaire-matrix-table-responsive > .table > thead > tr > th,
    .questionnaire-matrix-table-responsive > .table > tbody > tr > th,
    .questionnaire-matrix-table-responsive > .table > tfoot > tr > th,
    .questionnaire-matrix-table-responsive > .table > thead > tr > td,
    .questionnaire-matrix-table-responsive > .table > tbody > tr > td,
    .questionnaire-matrix-table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }*/
    .questionnaire-matrix-table-responsive > .table-bordered {
        border: 0;
    }
    .questionnaire-matrix-table-responsive > .table-bordered > thead > tr > th:first-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tbody > tr > th:first-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .questionnaire-matrix-table-responsive > .table-bordered > thead > tr > td:first-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tbody > tr > td:first-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .questionnaire-matrix-table-responsive > .table-bordered > thead > tr > th:last-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tbody > tr > th:last-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .questionnaire-matrix-table-responsive > .table-bordered > thead > tr > td:last-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tbody > tr > td:last-child,
    .questionnaire-matrix-table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .questionnaire-matrix-table-responsive > .table-bordered > tbody > tr:last-child > th,
    .questionnaire-matrix-table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .questionnaire-matrix-table-responsive > .table-bordered > tbody > tr:last-child > td,
    .questionnaire-matrix-table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}
.questionnaire-matrix-table {
    margin-bottom:10px;
}
.questionnaire-matrix-table td {
    vertical-align:bottom;
}
.questionnaire-matrix-table td .radio label.control-label {
    display: block;
    padding: 3px 0px;
}
.questionnaire-matrix-table td .checkbox {
    margin:0.2em 0;
}
.questionnaire-matrix-table td input[type="radio"],
.questionnaire-matrix-table td input[type="checkbox"] {
    display:block;
    width:100%;
    min-height:1em;
    margin:5px 0px;
    cursor: pointer;
}
.questionnaire-matrix-table td input[type="checkbox"] {
    margin-left: 0px;
}
/*
 * 集計画面グラフ
 */
.questionnaire-chart-wrapper {
    margin:1em;
}
/*------------------------------------------------------------------*/
table.table.questionnaire-table-vcenter tbody td {
   vertical-align: middle;
}
/*
 * 縦スクロールバー付き
 */
.questionnaire-list-wrapper {
    max-height:450px;
    overflow-y: scroll;
}
